.content {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-size: 50px;
    text-align: center;
}

p {
    text-align: center;
    font-size: 25px;
}

.title span {
    color: #fd5a2d;
}